//------------------------
// BASE THEME settings
//------------------------
html, body{
    width: 100%;
    background: #eceff1;
}

.clear{
    clear: both;
}

.site-wrapper{
    width: 100%;
    max-width: 1600px;
    display: table;
    margin: 0 auto;
}


//------------------------
// LAYOUT
//------------------------
.fullwidth{
    width: 100%;
}

section#layout-content{
    min-height: 90vh;
    z-index: 1;
}
