//-----------------------
// HEADER styles
//-----------------------
header#layout-header{
    width: 100%;
    z-index: 99;
}
//-----------------------
// TOPBAR styles
//-----------------------
#header-topbar{
    background: $primary-color-dark;
}
#header-topbar ul{
    margin: 0px;
    line-height: 1em;
}
#header-topbar ul li{
    display: inline-block;
    a{
        color: white;
        i{
            line-height: 1em;
        }
    }
}
//-----------------------
// HEADER MAIN
//-----------------------
.header-main{
    z-index: 99;
}
