//-----------------------
// HEADER styles
//-----------------------
header#layout-header{
    width: 100%;
    z-index: 99;
}
//-----------------------
// TOPBAR styles
//-----------------------
#header-topbar{
    background: $primary-color-dark;
}
#header-topbar ul{
    margin: 0px;
    line-height: 1em;
}
#header-topbar ul li{
    display: inline-block;
    a{
        color: white;
        i{
            line-height: 1em;
        }
    }
}
//-----------------------
// HEADER MAIN
//-----------------------
.header-main{
    z-index: 99;
}

//-----------------------
// VERTICAL DIVIDER
//-----------------------
li.vertical-divider{
    border-left: 2px solid $primary-color;
    height: $navbar-height - 20px;
    margin-top: ($navbar-height - 20px) / 4;
    content: "";
}
