//------------------------
// NAVIGATION
//------------------------
.header-main{
    nav{
        background: $primary-color-dark;
    }
}

//------------------------
// MOBIL NAVIGATION
//------------------------
li.mobilnav-collapsible{
    .collapsible-header{
        padding: 0 32px;
        font-size: $sidenav-font-size;
        color: $sidenav-font-color;
        font-weight: 500;
    }
}

// .side-nav li > a,
